#navbar{
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    background-color: white;
}

#top-navbar{
    display: flex;

}

#logo{
    width:9%;
    display: flex;
}

#logo>img{
    width:100%;
    
}

#menu{
    height: 5vh;
    margin: auto 5px;
    cursor: pointer;
}

#searchbar{
    width: fit-content;
    margin: auto;
     width:100vh;
     display: flex;
}

#searchbar>input{
    width: 80vh;
    height: 3vh;
    font-size: 3vh;
    border: 1px solid grey;
    padding: 8px;
}

#searchbar>img{
   padding: 5px;
    height:4vh;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

#mic{
    border-radius: 50%;
    margin: 1px;
    margin-left: 10px;
}

#infobar{
    display: flex;
    width: 11%;
    gap: 10px;
    margin-right: 4vh;
}

#infobar>img{
    width: 6vh;
    height: 4vh;
    margin: auto 5px;
}

#infobar>img:nth-child(3){
    border-radius: 50%;
}

#bottom-navbar{
    display: flex;
    float: right;
    gap: 2vh;
    padding: 10px;
    margin-right: 20px;
    width: 75%;
    overflow: hidden;
}

#bottom-navbar>button{
    padding: 1vh;
    border-radius: 20px;
    border: 1px solid rgba(128, 128, 128, 0.336);
    font-size: 2vh;
    color: black;
    font-weight: normal;
    transition: 300ms;
} 


#bottom-navbar>button:hover{
    cursor: pointer;
    background: rgba(0, 0, 0, 0.11);
} 

#sidebarframe{
    position: fixed;
    height: 90%;
    z-index: 11;
    bottom: 1vh;
    width: 20%;
    background-color: white;
}


#vdata{
    display: grid;
    width: 80%;
    background: rgb(255, 255, 255);
    margin-left: 20%;
    grid-template-columns: 24% 24% 24% 24%;
    padding: 2vh;
    gap: 1.5%;
    
}

#sidebr{
    display: flex;
    width: 100%;
    margin-top: 17vh;
}

.vbox>iframe{
    width: 100%;
}

.vbox{
    transition: 1s;
    height: fit-content;
    background: white;
}

.vbox:hover{
    transform: scale(1.4);
    z-index: 20;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.vbox>h1{
    font-size: 2vh;
    margin: 10px;
}

.vbox>p{
    font-size: 2vh;
    margin: 10px;
    color: rgba(0, 0, 0, 0.603);
}

body{
    overflow: hidden;
}